﻿
@{
    ViewBag.Title = "UnconfirmedAccount";
}

<h2>Unconfirmed Account</h2>
<p>
    If you have still not received an email confirmation message within 10 minutes of registrating,
    or if you accidentally deleted the message, then click this button and we'll send you another one.
</p>

@using(Html.BeginForm("RegenerateEmailConfirmation", "Account", FormMethod.Post,new { @class = "form-horizontal", role = "form" }))
{
    @Html.Hidden("Email", (string)ViewBag.Email)
    <input type="submit" value="Re-send Email Confirmation" class="btn btn-primary" />
}

